@page
@model AboutModel
@{
    ViewData["Title"] = "Skills";
}

<section id="about">
    <h2>About Me</h2>

        <p>
            Welcome to my professional showcase website. I’m Luke — an Infrastructure Engineer working in Cloud & DevOps, based in London with a strong focus on Microsoft Azure. I specialise in building and administering secure, scalable cloud infrastructure, with hands-on experience in App Services, Azure DevOps, Entra, ARM/Bicep deployments, Storage Accounts and VMs.
            I also have hands-on experience day-to-day working with Cloudflare, managing DNS records for over 200 websites, hosted both on Azure and other Cloud providers.
        </p>
        <p>This space is designed to complement my CV by providing a deeper look into my technical skills, hands-on projects & experience, certifications, and professional experience.</p>
        <p>My experience in these areas has helped me to become Microsoft Certified and I now hold the AZ-900, AZ-104 and AZ-400 Microsoft certifications.</p>
        <p>I am currently looking for new opportunities as an Azure Devops / Cloud Engineer, where I can apply my experience and expertise in automation, CI/CD pipelines, and infrastructure-as-code.</p>
        <p>My strengths lie in combining the technical depth of my experience with a process-driven mindset, emphasising clear communication across teams, which provides a structured and consistent approach. I have worked across global IT organisations and have led multiple cloud migrations.</p>
        <p>Please feel free to explore my skills and certifications throughout my website, which has been built as a showcase or <a href="/Contact" class="link-black-bold">get in touch</a> if you’d like to connect.</p>
        <p>I am currently continuing my learning progression and looking to obtain the AZ-305 Microsoft certification over the next few months.</p>
        <p>Whether you're a recruiter, hiring manager or collaborator, I hope this site gives you a clearer insight into what I can bring to a team.</p>
</section>



