@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<section id="contact">
    <h2>Contact me</h2>
    <p>I am currently open to new opportunities. Feel free to contact me via email or LinkedIn. I'll get back to you as soon as possible.</p>

    <ul>
    <li>Email: <a href="mailto:lukejgumbleton@gmail.com" class="link-black-bold">lukejgumbleton@gmail.com</a></li>
    <li>LinkedIn: <a href="https://linkedin.com/in/luke-gumbleton-148a30148" class="link-black-bold" target="_blank">linkedin.com/in/luke-gumbleton-148a30148</a></li>
    <li>Phone: <a href="tel:+447748901052" class="link-black-bold">07748 901052</a></li>
    </ul>

@if (Model.Result != null)
{
    <p>@Model.Result</p>
}
    </section>

