@page
@model DownloadModel
@{
    ViewData["Title"] = "Download";
}

<section id="contact">
    <h2>My latest CV</h2>
    <p>Please feel free to download my latest CV, which details my experience and credentials.</p>
    
    <a href="@Url.Content("~/files/Luke-Gumbleton-CV-2025.pdf")" download class="btn btn-primary">
    📄 Download CV
    </a>

</section>