@page
@model SkillsModel
@{
    ViewData["Title"] = "Skills";
}
<section id="siterelease">
<h2>Current Azure Pipeline status:</h2>

<a href="https://dev.azure.com/rluke420672449/Azure-Certificate-Site/_build/latest?definitionId=42">
  <img src="https://dev.azure.com/rluke420672449/Azure-Certificate-Site/_apis/build/status%2FAzure-Certificate-Site?branchName=main" />
</a>
</section>