@page
@model TestimonialsModel
@{
    ViewData["Title"] = "Testimonials & Feedback";
}

<section id="contact">
    <h2>Testimonials & References</h2>
    <div style="height: 20px;"></div>
    <h3 style="font-size: 18px;">Ryan Noakes - Qodea</h3>
    <p><i><b>"I have recently handed Luke and Haymarket over to my colleague but have worked with Luke for about 6 months on an ongoing project to train, upskill and get the most out of the SaaS tool they had in place. Luke was great to work with, he really saw the value in what I was teaching and took it all on board. Luke was very knowledgeable about SaaS integrations so that made it easier for me. Luke is someone I'd love to work on projects together again in the future as he is always puncual, quick to repond, quick to answer and someone who is willing to get stuck in and give it a go!"
    </b></i></p>
    <h3 style="font-size: 18px;">Colleagues feedback</h3>
    <div style="height: 20px;"></div>
    <p><i><b>"Luke is very knowledgeable and with any request we send his way he is always super helpful and reactive to help us. It is much appreciated."
    </b></i></p>
    <div style="height: 20px;"></div>
    <p><i><b>"His approach to access control really impressed me. Everything was cleaned up across Azure and GCP, scoped correctly, and way more secure — but still easy to manage."
    </p></i></b>
    <div style="height: 20px;"></div>
    <p><i><b>"Thanks to Luke, we now have proper monitoring and metrics in place. He helped us spot a performance issue we'd been missing for months."
    </p></i></b>
    <div style="height: 20px;"></div>
    <p><i><b>"He's running two separate tenants on Azure as well as GCP with all sorts of workloads, and he just gets it done. No drama, just solid delivery. Thanks Luke"
    </p></i></b>
    <div style="height: 20px;"></div>
    <p><i><b>"Luke and I have been working on Data Protection and Security on and off for years now and he always makes time to investigate and nothing is too much trouble. Recently we have been looking into domains traffic through Cloudflare and bot scraping."
    </p></i></b>
    </section>